.boxbutton {
    box-shadow: 2px 2px 5px green;
    height: 50vh;
    border-radius: 15px;
    text-align: center;
    padding: 25vh;
    vertical-align: center;
    margin: 2%;
}

.boxbutton:hover {
    background-color: rgb(141, 212, 141);
    box-shadow: 2px 2px 10px black;
    font-weight: bold;
    font-size: 1.1em;
    
}